# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.packages
.pub-cache/
build/
pubspec.lock

# Generated code
*.g.dart
*.freezed.dart

# Build results
/ios/Flutter/App.framework
/ios/Flutter/engine
/ios/Flutter/flutter_assets
/ios/Pods/
/ios/.symlinks/
/android/.gradle/
/android/app/build/
/android/build/
/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
/windows/flutter/ephemeral/
/linux/flutter/ephemeral/
/macos/flutter/ephemeral/

# Environment variables
.env